<h1>Create Article</h1>
<%= form_for @article do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title , required: true%><br>
  </div>
  <div class="field">
  <%= f.label :body %><br>
  <%= f.text_field :body, required: true %><br>
  </div>
  <div class="field">
   <% for category in Category.all%>
    <%= check_box_tag 'category_ids[]', category.id,
    @article.category_ids.include?(category.id), :id => dom_id(category)%>
    <%= label_tag dom_id(category), category.name, :class => "check_box_label" %> <br />
  <%end%>
  </div>
  <%= f.submit %>
<% end %>