<main class="content">
  <div class="container">
    <h2 class="head-cate">All Categories</h2>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category), class: "cat-list"%> | 
      <% end %>
  </div>
  <div class="form-container">
    <h1 class="cate-head">Create Category</h1>
    <%= form_for @category do |f| %>
      <div class="">
        <div class="input-flex flex">
          <%= f.label :name, required: true, class: "field" %>
          <%= f.text_field :name, required: true, class: "field" %>
        </div>
        <div class="input-flex flex">
        <%= f.label :priority, required: true, class: "field" %>
        <%= f.text_field :priority, required: true, class: "field" %>
        </div>
      </div>
      <%= f.submit "Create Category", class: "button" %>
    <% end %>
  </div> 
</main>

