<!DOCTYPE html>
<html>
  <head>
    <title>FoodComa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag 'navbar-footer.css' %> %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/favicon.ico" rel="shortcut icon" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= display_propper_flash %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
